body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.header-color {
  color: blueviolet;
}
section {
  display: flex;
}
.first-width {
  width: 50%;
  border: 10px 20px;
}
.first-width img {
  width: 80%;
  padding-left: 10px;
  padding-right: 5px;
  border-right: 10px;
  border-left: 15px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(green, yellow);
  padding: 5px 10px;
  border-radius: 5px;
}
.top-bannar {
  background-image: url(images/Frame\ 58.jpg);
  border-radius: 5px;
  padding-right: 5px;
}
