body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.header-color {
  color: blueviolet;
}
.fexible-contraner {
  display: flex;
}
.first-width {
  width: 50%;
  border: 10px 20px;
}
.first-width img {
  width: 50%;
  padding-left: 10px;
  padding-right: 5px;
  border-right: 15px;
  border-left: 15px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(green, yellow);
  padding: 5px 10px;
  border-radius: 5px;
}
.top-bannar {
  background-image: url(images/Frame\ 58.jpg);
  border-radius: 5px;
  padding-right: 5px;
  background-repeat: no-repeat;
}
.about-me {
  background-image: url(images/Frame\ 58.jpg);
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: auto;
}
.tittle-area {
  background-image: url(images/Frame\ 57.jpg);
  background-repeat: no-repeat;
  box-shadow: 10px 20px 30px;
  margin: 5px;
}
